* {
	scroll-behavior: smooth;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-size: 20px;
}

/* body */
body {
	background-color: black;
	overflow-x: hidden;
}

.background {
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100vh;
	background-size: cover;
	background-image: url(../img/car/lamborghini-background.jpg);
}

.background1 {
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	background-attachment: fixed;
	background-image: url(../img/car/koenigsegg-background.jpg);
}

.background2 {
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	background-attachment: fixed;
	background-image: url(../img/car/ferrari-background.jpg);
}

.side-bar,
.side-bar-button,
.close-button {
	display: none;
}

nav {
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.nav-floating {
	transition: 700ms ease-in-out;
	z-index: 99;
	background-color: white;
	box-shadow: 0px 0px 5px rgb(251, 251, 251);
	position: fixed;
	width: 100vw;
	height: 100px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.nav-floating h1 {
	transition: 400ms ease-in-out;
	color: black;
}

.nav-floating h1:hover {
	color: gold;
}

.nav-floating a {
	color: black;
}

.nav-floating a:hover {
	color: gold;
}

nav h1 {
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	color: white;
	font-size: 1rem;
}

nav h1:hover {
	cursor: pointer;
}

nav ul {
	display: flex;
	align-items: center;
	width: 20%;
	justify-content: space-between;
}

nav ul li {
	list-style-type: none;
}

nav ul li a {
	text-transform: uppercase;
	font-size: 0.9rem;
	color: white;
	text-decoration: none;
	font-family: "Staatliches", sans-serif;
}

nav ul li a:hover {
	border-bottom: 3px solid gold;
	color: white;
}

nav ul li.beda a {
	border-radius: 10px;
	padding: 5px 10px;
	background-color: black;
	font-size: 0.9rem;
	color: gold;
	text-decoration: none;
	font-family: "Staatliches", sans-serif;
}

nav ul li.beda a:hover {
	background-color: gold;
	color: black;
	font-size: 1rem;
	transition: 500ms ease-in-out;
}

.register-session {
	display: none;
	z-index: 9999;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 100%;
	height: 100%;
}

.register-layout {
	opacity: 0.9;
	background-color: rgb(241, 241, 241);
	border-radius: 10px;
	background-color: white;
	height: 50%;
	width: 50%;
	display: flex;
}

.register-left {
	padding: 30px;
	width: 70%;
	font-family: Arial, Helvetica, sans-serif;
}

.register-left h1 {
	text-align: center;
}

.register-left td {
	font-size: 0.7rem;
	padding: 10px;
}

.login-session {
	display: none;
	z-index: 9999;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 100%;
	height: 100%;
}

.login-layout {
	opacity: 0.9;
	background-color: rgb(241, 241, 241);
	border-radius: 10px;
	background-color: white;
	height: 50%;
	width: 50%;
	display: flex;
}

.login-left {
	padding: 30px;
	width: 70%;
	font-family: Arial, Helvetica, sans-serif;
}

.main-login {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.login-left h1 {
	text-align: center;
}

.login-left td {
	font-size: 0.7rem;
	padding: 10px;
}

.form-button {
	height: 10%;
	width: 100%;
	text-align: right;
	transition: 300ms ease-in-out;
}

.form-button:hover {
	color: white;
	cursor: pointer;
}

.form-content {
	box-sizing: border-box;
	padding: 10px;
	height: 90%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: Arial, Helvetica, sans-serif;
}

.form-content h1 {
	color: black;
	font-size: 1.1rem;
}

.form-content p {
	color: black;
	text-align: center;
	font-size: 0.7rem;
}

.contentForm {
	color: white;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	display: flex;
}

.contentForm a {
	margin-top: 20px;
	font-size: 0.6rem;
	padding: 10px;
	text-decoration: none;
	color: white;
	background-color: black;
	border-radius: 10px;
}

td .button {
	display: flex;
	align-items: center;
	padding: 5px 10px;
	font-size: 0.7rem;
	text-align: center;
}

td input {
	font-size: 0.7rem;
}

.register-left td button {
	padding: 5px 10px;
	font-size: 0.7rem;
	font-family: Arial, Helvetica, sans-serif;
}

.register-right {
	background-color: gold;
	width: 30%;
}

.login-left td button {
	padding: 5px 10px;
	font-size: 0.7rem;
	font-family: Arial, Helvetica, sans-serif;
}

.login-right {
	background-color: gold;
	width: 30%;
}

td.keterangan-login {
	text-align: center;
}
span.keterangan-form-login {
	text-align: center;
	font-size: 0.6rem;
}

span.keterangan-form-login a {
	font-size: 0.7rem;
}

td.keterangan-register {
	text-align: center;
}
span.keterangan-form-register {
	text-align: center;
	font-size: 0.6rem;
}

span.keterangan-form-register a {
	font-size: 0.7rem;
}

.profile {
	display: flex;
	width: 13%;
	align-items: center;
}

.profile .pic img {
	border-radius: 25px;
	width: 50px;
}

.profile .logout {
	padding: 5px;
}

.logout h1 {
	color: black;
	margin: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8rem;
}
.logout span {
	justify-content: center;
	display: flex;
	align-items: center;
	border-radius: 10px;
	padding: 5px 10px;
	background-color: gold;
}

.logout a {
	transition: 200ms ease-in-out;
	font-size: 0.7rem;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}
.logout a:hover {
	color: white;
}

.content1 {
	width: 60vw;
	padding: 50px;
}

.maincontent {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}

.maincontent h1 {
	text-shadow: 1px 1px 2px gold;
	font-family: "Zen Dots", sans-serif;
}

.maincontent h2 {
	text-transform: uppercase;
	color: gold;
	margin-top: 10px;
	font-size: 2rem;
}

.belum-muncul {
	transition: 1s ease-in-out;
	opacity: 0;
	transform: translateX(-50px);
}

.belum-muncul1 {
	transition: 1.1s ease-in-out;
	opacity: 0;
	transform: translateX(-60px);
}

.belum-muncul2 {
	transition: 1.2s ease-in-out;
	opacity: 0;
	transform: translateX(-65px);
}

.belum-muncul3 {
	transition: 1.2s ease-in-out;
	opacity: 0;
	transform: translateY(30px);
}

.belum-muncul4 {
	transition: 1s ease-in-out;
	opacity: 0;
	top: 50px;
}

.muncul {
	opacity: 1;
	transform: translate(0px, 0px);
}

.muncul2 {
	opacity: 1;
	top: -20px;
}

.showcar {
	margin: 30px 0px;
	align-items: center;
	display: flex;
}

.showcar a {
	transition: 500ms ease-in-out;
	margin: 0 10px;
	font-size: 2rem;
	text-decoration: none;
	color: white;
}

.showcar a:hover {
	color: gold;
	font-size: 2.5rem;
}

.maincontent img {
	z-index: 100;
	position: relative;
	transform: rotateY(180deg);
	width: 50vw;
	filter: brightness(50%);
	transition: 800ms ease-in-out;
}

.maincontent img:hover {
	filter: none;
}

.maincontent p {
	font-size: 0.6rem;
}

.button {
	margin-top: 10px;
	text-align: center;
}

.button a {
	border-radius: 5px;
	text-decoration: none;
	color: white;
	background-color: gold;
	padding: 10px 15px;
	transition: 300ms ease-in-out;
}

.button a:hover {
	border: 2px solid gold;
	color: gold;
	background-color: black;
	padding: 17px 20px;
}

.container1 {
	background-color: rgb(255, 255, 255);
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	height: 500px;
}

.keterangan1 {
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	height: 100%;
	background-color: rgb(255, 255, 255);
}

.header-keterangan1 {
	padding: 20px 0px;
	width: 100%;
	height: 25%;
	text-align: center;
}

.header-keterangan1 h3 {
	color: rgb(0, 0, 0);
	margin-top: 20px;
	font-size: 1.2rem;
}
.header-keterangan1 h1 {
	color: rgb(33, 33, 33);
	font-size: 1.3rem;
}

.keterangan {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	height: 75%;
	width: 100%;
	padding: 20px;
}

.keterangan-box {
	width: 25%;
	height: 80%;
}

.keterangan-header {
	height: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.keterangan-header h1 {
	margin-top: 20px;
	color: rgb(33, 33, 33);
	font-size: 1.2rem;
}

.keterangan-content {
	height: 50%;
	width: 100%;
	text-align: center;
}

.keterangan-content p {
	font-size: 0.6rem;
	color: rgb(33, 33, 33);
	padding: 20px;
}

.container2 {
	width: 100%;
	background-repeat: no-repeat;
	box-sizing: border-box;
	background-size: cover;
	background-image: url(../img/car/bg-container2.jpg);
}

/* .logo-hilang {
	opacity: 1;
  } */

/* .logo-muncul {
	opacity: 1;
	transform: translateY(0px);
  }
  
  
  
  .logo-muncul .choice-button {
	opacity: 0.7;
	height: 90px;
	width: 100%;
	padding: 20px;
  } */

.button-area {
	padding: 10px;
	justify-content: center;
	display: flex;
	align-items: center;
	width: 100%;
	height: 80%;
	transition: 300ms ease-in-out;
}

.show-all {
	display: flex;
	align-items: center;
	border-radius: 5px;
	text-align: center;
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: rgb(40, 40, 40);
	transition: 300ms ease-in-out;
}

.show-all a {
	cursor: pointer;
	font-size: 0.6rem;
	color: white;
	text-decoration: none;
}

.show-all a:hover {
	color: black;
}

.show-all:hover {
	background-color: gold;
	transform: translateY(-5px);
	box-shadow: 0px 0px 5px gold;
}

.company-logo {
	border-radius: 5px;
	padding: 5px;
	background-color: rgb(42, 42, 42);
	width: 5%;
	margin-left: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 400ms ease-in-out;
}

.company-logo:hover {
	box-shadow: 0px 0px 5px gold;
	background-color: gold;
	transform: translateY(-5px);
}

.button-area .company-logo img {
	filter: grayscale(1);
	cursor: pointer;
	width: 35px;
	height: 40px;
	transition: 200ms ease-in-out;
}

.button-area .company-logo img:hover {
	filter: none;
}

.car-content {
	box-sizing: border-box;
	justify-content: space-evenly;
	flex-wrap: wrap;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	width: 100%;
}

.card {
	opacity: 75%;
	transition: 600ms ease-in-out;
	margin: 20px;
	border-radius: 10px;
	text-align: center;
	justify-content: space-around;
	background-color: black;
	width: 30%;
	padding: 20px;
}

.card:hover {
	transform: translateY(-10px);
	opacity: 85%;
	box-shadow: 1px 1px 10px gold;
	background-color: gold;
}

.card .content {
	text-align: left;
}

.card h3,
h5 {
	font-size: 0.7rem;
	font-weight: lighter;
}

.card .content h1 {
	text-transform: uppercase;
}

header {
	height: 120px;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card header img {
	width: 80%;
}

.card .content p {
	color: white;
	margin: 5px;
	font-size: 0.5rem;
}

.button2 {
	margin-top: 20px;
}

.button2 a {
	font-size: 0.8rem;
	border-radius: 10px;
	color: black;
	background-color: white;
	padding: 8px 13px;
	text-decoration: none;
	transition: 500ms ease;
}

.button2 a:hover {
	background-color: black;
	color: gold;
}

@keyframes fadein {
	to {
		filter: brightness(100%);
	}
}

.fade {
	filter: brightness(20%);
	animation: fadein 1s forwards;
}

.hilang {
	opacity: 0;
	transform: translateX(-50px);
}

.side-button {
	display: none;
}

.footer {
	width: 100%;
	background-color: rgb(16, 16, 16);
}

.content-3 {
	width: 100%;
	height: 500px;
}

.footer-logo {
	justify-content: center;
	display: flex;
	width: 100%;
	height: 30%;
}

.footer-logo .ft-logo {
	margin-left: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 12%;
}

.ft-logo img {
	cursor: pointer;
	filter: grayscale(1);
	width: 60px;
	height: 60px;
	transition: 500ms ease-in-out;
}

.ft-logo img:hover {
	filter: none;
}

.footer-text {
	height: 70%;
	width: 100%;
	display: flex;
}

.footer-text1 {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	padding: 100px;
	width: 30%;
}

.logo {
	display: flex;
	flex-direction: column;
}

.footer-text1 h1 {
	font-size: 1.2rem;
}

.footer-text1 h5 {
	font-size: 0.8rem;
	margin-top: 10px;
}

.footer-text2 h1 {
	font-size: 1.2rem;
}
.footer-text3 h1 {
	font-size: 1.2rem;
}

.footer-text4 h1 {
	font-size: 1.2rem;
}

.footer-text2 {
	padding-top: 100px;
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 100px;
	color: white;
	width: 20%;
}

.footer-text2 li {
	list-style-type: none;
	font-size: 0.7rem;
	margin-top: 25px;
}

.footer-text3 {
	padding-top: 100px;
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 100px;
	color: white;
	width: 20%;
}

.footer-text3 li {
	list-style-type: none;
	font-size: 0.7rem;
	margin-top: 25px;
}
.footer-text4 {
	text-align: center;
	padding-top: 100px;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	width: 30%;
}

.logo-app {
	margin-top: 10px;
}

.mleft {
	cursor: pointer;
	margin-left: 15px;
	transition: 300ms ease-in-out;
}

.mleft:hover {
	color: gold;
}

.subscribe {
	color: white;
	height: 650px;
	width: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("../img/car/subscribetion-background.jpg");
	font-family: arial;
	padding: 150px 50px;
}

.container-subscribe {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}

.container-subscribe h1 {
	font-size: 1.5rem;
}

.container-subscribe p {
	padding: 30px 0px;
	font-size: 0.8rem;
}

.container-subscribe form input {
	outline: none;
	padding: 3px 5px;
}

.form-subscribe {
	width: 30%;
	display: flex;
	align-items: center;
}

.tombol-subscribe {
	height: 100px;
	width: 30%;
	display: flex;
	align-items: center;
}

.container-subscribe .tombol-subscribe a {
	color: black;
	padding: 20px;
	border-radius: 5px;
	background-color: rgb(246, 246, 246);
	text-decoration: none;
	transition: 300ms ease-in-out;
	font-size: 1rem;
}

.container-subscribe .tombol-subscribe a:hover {
	transform: translateX(10px);
	background-color: gold;
}

.tombolBurger {
	display: none;
}

/* responsive */
/* tablet */
@media screen and (max-width: 768px) {
	.background,
	.background1,
	.background2 {
		height: 100vh;
		background-repeat: no-repeat;
		box-sizing: border-box;
		background-size: cover;
		background-position: center;
		width: 100%;
	}

	nav ul {
		width: 30%;
	}

	.navigasi li a {
		font-size: 0.7rem;
	}

	.navigasi li.beda a {
		font-size: 0.8rem;
	}

	.profile {
		width: 20%;
	}

	.profile .logout h1 {
		font-size: 0.5rem;
	}

	.profile .logout span a {
		font-size: 0.5rem;
	}

	.maincontent h1,
	h2,
	h5 {
		font-size: 2.5rem;
	}

	.maincontent img {
		width: 60vmax;
	}

	.maincontent p {
		font-size: 0.7rem;
	}

	.container2 .card {
		width: 40%;
		margin: 40px 20px;
	}

	header {
		width: 100%;
		height: 150px;
	}

	.card header img {
		width: 150%;
	}

	.card .content h1,
	h3,
	h5 {
		font-size: 1rem;
	}

	.company-logo {
		background-color: rgb(42, 42, 42);
		width: 10%;
		margin-left: 5px;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: 400ms ease-in-out;
	}

	.footer-text1 {
		padding: 30px;
	}

	.footer-text1 h1 {
		font-size: 0.8rem;
	}

	.footer-text1 h5 {
		font-size: 0.5rem;
	}

	.footer-text2 h1 {
		font-size: 0.8rem;
	}

	.footer-text2 ul li {
		font-size: 0.5rem;
	}

	.footer-text3 h1 {
		font-size: 0.8rem;
	}

	.footer-text3 ul li {
		font-size: 0.5rem;
	}

	.footer-text4 h1 {
		font-size: 0.8rem;
	}

	.footer-text2 {
		padding: 30px;
	}

	.footer-text3 {
		padding: 30px;
	}

	.footer-text4 {
		padding: 30px;
	}

	.logo-app {
		display: flex;
	}

	.header-keterangan1 h3,
	h1 {
		font-size: 0.8rem;
	}

	.keterangan-header h1 {
		text-align: center;
		font-size: 0.9rem;
	}

	.keterangan {
		padding: 0px;
	}

	.keterangan-header .logo-keterangan {
		height: 80px;
		width: 80px;
	}

	.keterangan-box {
		width: 30%;
	}

	.login-layout {
		width: 100%;
	}

	.register-layout {
		width: 100%;
	}
}

/* handphone */
@media screen and (max-width: 576px) {
	.nav-floating {
		z-index: 99;
		transition: 300ms ease-in-out;
	}

	.content1 {
		padding: 25px;
		width: 100vw;
	}

	.maincontent h1,
	h2,
	h5 {
		font-size: 2rem;
	}

	.maincontent p {
		font-size: 0.8rem;
	}

	.maincontent img {
		z-index: 1;
		width: 30vmax;
	}

	.background,
	.background1,
	.background2 {
		height: 100vh;
		background-position: center;
		background-size: cover;
	}

	.button {
		margin-top: 20px;
		text-align: left;
	}

	.container2 {
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	.container2 .card {
		width: 80%;
		margin: 40px 20px;
	}

	header {
		width: 100%;
		height: 150px;
	}

	.card header img {
		width: 150%;
	}

	.card .content h3,
	h5 {
		font-size: 0.5rem;
	}

	nav ul {
		display: none;
	}

	.side-bar {
		top: 0px;
		height: 100vmax;
		left: 0px;
		background-color: rgb(29, 29, 29);
		position: absolute;
		width: 40%;
		display: none;
		z-index: 999;
	}

	.side-bar .tombol {
		text-align: right;
		padding: 10px;
		width: 100%;
	}

	.side-bar .tombol a {
		color: white;
	}

	.list-tombol {
		padding: 0px 20px;
		text-align: right;
		font-family: Arial, Helvetica, sans-serif;
	}

	.sapa-sidebar {
		text-align: right;
		background-color: gold;
		padding: 20px;
		font-family: Arial, Helvetica, sans-serif;
		color: white;
	}

	.sapa-sidebar h1 {
		font-size: 0.7rem;
	}

	.list-tombol li {
		padding-top: 20px;
		list-style-type: none;
	}

	.list-tombol li a {
		font-size: 0.8rem;
		text-decoration: none;
		color: white;
	}

	.tombolBurger {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.company-logo {
		background-color: rgb(42, 42, 42);
		width: 15%;
		margin-left: 5px;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: 400ms ease-in-out;
	}

	.profile {
		display: none;
	}

	.profile-sidebar {
		height: 80px;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.profile-sidebar .pic {
		margin-left: 15px;
	}

	.profile-sidebar img {
		border-radius: 25px;
		width: 50px;
	}

	.profile-sidebar .logout h1 {
		color: white;
		font-size: 0.6rem;
	}

	.profile-sidebar span {
		width: 10%;
	}

	.profile-sidebar span a {
		font-size: 0.5rem;
	}
	.logout {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	.footer-text {
		flex-direction: column;
	}

	.footer-text1 {
		width: 100%;
		padding: 50px;
	}

	.footer-text2 {
		width: 100%;
		padding: 50px;
	}

	.footer-text3 {
		width: 100%;
		padding: 50px;
	}

	.footer-text4 {
		width: 100%;
		padding: 50px;
	}

	.keterangan-header .logo-keterangan {
		height: 50px;
		width: 50px;
	}

	.keterangan-header h1 {
		text-align: center;
		font-size: 0.7rem;
	}

	.keterangan {
		padding: 0px;
	}

	.keterangan-box {
		width: 30%;
	}

	.keterangan-content p {
		padding: 0px;
	}

	.login-layout {
		width: 100%;
	}

	.register-layout {
		width: 100%;
	}

	.contentForm h1 {
		font-size: 0.9rem;
	}

	.contentForm h1 {
		font-size: 0.7rem;
	}

	.login-left {
		padding: 30px 0px;
	}

	.login-left td {
		padding: 5px 0px;
	}

	.register-left {
		padding: 30px 0px;
	}

	.register-left td {
		padding: 5px 2px;
	}
}
